body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: black;
  color: rgb(121, 207, 41);
  font-family: 'Fira Code', monospace;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 20%;
}

.underline {
  width: 0;
  height: 2px;
  background-color: rgb(121, 207, 41);
  animation: fillLine 1s forwards;
  margin-top: 4px;
}

@keyframes fillLine {
  to {
    width: 100vw;
  }
}