body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: #CCCCCC;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.nav-links {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 10;
}

.nav-links a {
  font-family: 'Open Sans', sans-serif;
  color: #CCCCCC;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 1.5rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: white;
}

.nav-links a.active-page {
  text-decoration: underline;
  text-underline-offset: 6px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-button {
  background-color: transparent;
  color: #CCCCCC;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin: 0 1.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  z-index: 10;
  text-align: left;
  border-radius: 8px;
}

.dropdown-content a {
  color: #CCCCCC;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  transition: 0.3s, color 0.3s;
}

.dropdown-content a:hover {
  background-color: #333;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-button {
  color: white;
  background-color: black;
  border-radius: 8px 8px 0 0;
}

.arrow {
  display: inline-block;
  margin-left: 0.3rem;
  transition: transform 0.3s ease;
}

.arrow::before {
  content: "▲";
}

.dropdown:hover .arrow::before {
  content: "▼";
}

.info-links a:hover {
  color: white;
}

.heading-title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
   /*background-color:  rgba(0, 0, 0, 0.7)*/
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 20%;
}

.underline {
  width: 0;
  height: 2px;
  background-color: #CCCCCC;
  animation: fillLine 1s forwards;
  margin-top: 4px;
}

@keyframes fillLine {
  to {
    width: 100vw;
  }
}

.project {
  color: #CCCCCC;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.project-background {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 2rem;
  border-radius: 12px;
  max-width: 1100px;
  margin: 0 auto 4rem auto;
  box-shadow: 0 0 15px rgba(204, 204, 204, 0.2); 
}

.project-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0 auto 2rem auto;
  max-width: 1000px;
  gap: 15rem;
}

.left-text {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.right-text {
  flex: 0 0 200px;
  min-width: 200px;
  margin-top: 0;
}

.right-text a {
  color: #CCCCCC;
  text-decoration: underline;
}

.screenshots {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  margin-bottom: 3rem;
}

.screenshots img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.screenshots-small {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  max-width: 1000px;
}

.screenshots-small img {
  width: 100%;
  max-width: 250px;
  border-radius: 12px;
  object-fit: cover;
  margin: 0 auto;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; 
  top: 0;
  left: 0;
  pointer-events: none;
}

.about-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap; 
}

.about-description {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  max-width: 1200px;
  gap: 6rem;
  margin: 4rem auto 2rem auto;
}

.about-description div {
  flex: 1;
}

.about-text {
  flex: 1;
  font-size: 1.2rem;
}

.profile-photo {
  flex: 1;
  text-align: center;
}

.profile-photo img {
  width: 400px;
  height: auto;
}

.article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.article h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.article p:first-of-type {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.article h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.article p {
  text-align: left;
  line-height: 1.7;
  font-size: 1.1rem;
}

figure {
  text-align: center;
  margin-top: 2rem;
}

figure img {
  max-width: 60%;
  align-items: center;
  height: auto;
  border-radius: 4px;
}

figcaption {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.article-link {
  font-family: 'Open Sans', sans-serif;
  color: #CCCCCC;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.3s;
}

.article-link:hover {
  color: white;
}