body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: rgb(121, 207, 41);
  font-family: 'Fira Code', monospace;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.nav-links {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-links a {
  font-family: 'Fira Code', monospace;
  color: rgb(121, 207, 41);
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 1.5rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: white;
}

.nav-links a.active-page {
  text-decoration: underline;
  text-underline-offset: 6px;
  font-weight: bold;
}

.info-links a:hover {
  color: white;
}

.heading-title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 20%;
}

.underline {
  width: 0;
  height: 2px;
  background-color: rgb(121, 207, 41);
  animation: fillLine 1s forwards;
  margin-top: 4px;
}

@keyframes fillLine {
  to {
    width: 100vw;
  }
}

.project {
  color: rgb(121, 207, 41);
  font-family: 'Fira Code', monospace;
  padding: 2rem;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.project-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto 2rem auto;
  max-width: 1000px;
  gap: 2rem;
}

.left-text {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  gap: 4rem;
}

.right-text {
  flex: 0 0 200px;
  min-width: 200px;
}

.right-text a {
  color: rgb(121, 207, 41);
  text-decoration: underline;
}

.screenshots {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  margin-bottom: 3rem;
}

.screenshots img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.screenshots-small {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  max-width: 1000px;
}

.screenshots-small img {
  width: 100%;
  max-width: 250px;
  border-radius: 12px;
  object-fit: cover;
  margin: 0 auto;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; 
  top: 0;
  left: 0;
  pointer-events: none;
}